{% extends 'index.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Perfil del Cliente</title>
    <!-- Agrega aquí los enlaces a los archivos CSS de Bootstrap y tu propio CSS personalizado si lo tienes -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Información del Cliente</div>
            <div class="card-body">
              <p>
                <strong>Usuario:</strong>
                <span id="usuario">{{cliente.usuario.username}}</span>
              </p>
              <p>
                <strong>Nombre:</strong>
                <span id="nombre">{{cliente.nombreCliente}}</span>
              </p>
              <p>
                <strong>Fecha de Nacimiento:</strong>
                <span id="fechaNacimiento"
                  >{{cliente.fechaNacimientoCliente}}</span
                >
              </p>
              <p>
                <strong>Email:</strong>
                <span id="email">{{cliente.emailCliente}}</span>
              </p>
              <p>
                <strong>País:</strong>
                <span id="pais">{{cliente.paisCliente}}</span>
              </p>
              <p>
                <strong>Ciudad:</strong>
                <span id="ciudad">{{cliente.ciudadCliente}}</span>
              </p>

              <div class="text-center">
                    <a class="btn btn-primary" href="{% url 'editarCliente' cliente.usuario_id %}">
                        Modificar Información
                    </a>
                    <button class="btn btn-danger" href="{% url 'eliminarUsuario' %}">
                        Eliminar cuenta
                    </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Tarjeta</div>
                <div class="card-body">
                    <p><strong>Número de Tarjeta:</strong> **** **** **** 1234</p>
                    <p><strong>CVC:</strong> ***</p>
                    <p><strong>Fecha de Vencimiento:</strong> 12/24</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Cambiar Tarjeta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Registrar Dominio</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="dominio">Dominio:</label>
                            <input type="text" id="dominio" class="form-control" placeholder="Nombre del Dominio">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Abrir Ticket</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input type="text" id="titulo" class="form-control" placeholder="Título del Ticket">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" class="form-control" placeholder="Descripción del Ticket"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Abrir Ticket</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <h3>Sitios Web</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
              >Ejemplo 1</a
            >
          </li>
          <li class="list-group-item">
            <a href="https://www.ejemplo2.com">Ejemplo 2</a>
          </li>
          <li class="list-group-item">
            <a href="https://www.ejemplo3.com">Ejemplo 3</a>
          </li>
        </ul>
        <a href="#" class="btn btn-secondary fixed-right m-4">Agregar pagina</a>
    </div>


</div>
<a href="{% url 'cerrarSesion' %}" class="btn btn-danger m-4">Cerrar Sesión</a>
<!-- Agrega aquí los enlaces a los archivos JavaScript de Bootstrap y tus propios scripts si es necesario -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
