{% extends 'index.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <title>Dashboard del Distribuidor</title>
  </head>

  <body>
    <div class="container flex-column">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card d-flex flex-column h-100">
            <div class="card-header">Información del Distribuidor</div>
            <div class="card-body d-flex flex-column">
              <p>
                <strong>Distribuidor: </strong
                >{{distribuidor.nombreDistribuidor}}
              </p>
              <p><strong>Categoria: </strong>{{distribuidor.categoria}}</p>
              <p>
                <strong>Comisión a ChibchaWeb: </strong
                >{{distribuidor.comision}}%
              </p>
              <div class="mt-auto text-center">
                <!-- Utiliza la clase 'mt-auto' para mover los botones hacia la parte inferior -->
                <a
                  class="btn btn-primary"
                  href="{% url 'editarDistribuidor' distribuidor.usuario_id %}"
                >
                  Modificar Información</a
                >
                <a class="btn btn-danger" href="{% url 'eliminarUsuario' %}">
                  Eliminar cuenta
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-2">
            <div class="card-header">Exportar a PDF</div>
            <div class="card-body">
              <p>Archivo bancario exportado como PDF.</p>
              <a href="{% url 'reporteBancario' %}" class="btn btn-primary"
                >Descargar PDF</a
              >
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header">Reporte de Contratos</div>
            <div class="card-body">
              <p>Se genera un reporte con los contratos de los clientes.</p>
              <a
                href="{% url 'reporteContrato' dist=distribuidor.distribuidorId %}"
                class="btn btn-primary"
                >Ver Reporte</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mt-4">
            <h3>Extensiones de Dominio</h3>
            <div class="mb-2">
              <form method="post" action="{% url 'registroExtension' %}">
                <div class="group">
                  <input
                    id="extension"
                    name="extension"
                    type="text"
                    class="input"
                    required
                  />
                  <button type="submit" class="btn btn-outline-primary mx-auto">
                    Registrar Extensión de Dominio
                  </button>
                </div>
              </form>
            </div>
            <div style="max-height: 400px; min-height: 100px; overflow-y: auto">
              {% if extensiones %}
              <ul class="list-group">
                {% for extension in extensiones %}

                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#">{{ extension.extensionDominio }}</a>
                    <a href="#" class="btn btn-outline-danger">Eliminar</a>
                  </div>
                </li>

                {% endfor %}
              </ul>
              {% else %}
              <h5>Aún no tienes dominios.</h5>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Solicitudes XML</div>
            <div class="card-body">
              <p>Ejemplo de solicitud XML:</p>
              <pre>
                &lt;xml version="1.0"&gt;
                &lt;request&gt;
                &lt;client_id&gt;12345&lt;/client_id&gt;
                &lt;amount&gt;1000.00&lt;/amount&gt;
                &lt;description&gt;Pago de factura&lt;/description&gt;
                &lt;/request&gt;
                </pre
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'cerrarSesion' %}" class="btn btn-danger">Cerrar Sesión</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    {% if flag %}
    <script>
      alert("NO SE PUDO REGISTRAR LA EXTENSIÓN");
    </script>
    {% endif %}
  </body>
</html>
{% endblock %}
