{% load static %}

<!-- para que esta pagina sea reusable hay que poner bloques -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chibchaweb</title>
    <link rel="icon" href="{%static 'images/logo.ico'%}" type="images/ico">
    <!-- Agrega aquí los enlaces a los archivos CSS de Bootstrap y tu propio CSS personalizado si lo tienes -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-light navbar-expand-lg font-awesome border-bottom" data-bs-theme="light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{%static 'images/logo.png'%}" alt="Chibchaweb Logo" class="img-fluid" style="max-height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Planes</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default usuario-btn" href="#"><!--aqui puede ir el nombre del usuario cuando haga login-->
                        <img class="img-fluid usuario-img" src="{%static 'images/usuario.png'%}" alt="perfil">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenido de la página -->
<div class="container mt-5 mb-5">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="bg-light text-black p-3">
    <div class="container">
        <p>&copy; 2023 Chibchaweb</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>