<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{%static 'css/dominio.css'%}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <title>Dominios</title>
  <style>
    /* Estilos para el botón Volver */
    .btn-volver {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .btn-volver:hover {
      background-color: #0056b3;
      color: white;
      text-decoration: none;
    }
  </style>
</head>

<body>
    </div>
    <table>
      <tr>
        <th>Nombre cliente</th>
        <th>Dominio Asociado</th>
        <th>Meses de Contrato</th>
        <th>Registrar Dominio</th>
        <th>Fecha Solicitud</th>
        <th>Estado de Dominio</th>
      </tr>
      <tr>
        <td id=""></td>
        <td id=""></td>
        <td id=""></td>
        <td id=""></td>
        <td id=""></td>
        <td id=""></td>
      </tr>
      <a href="#" class="btn-volver">Volver</a>
</body>

<script src="js/dominio.js" type="text/javascript"></script>

</html>